.idea/
.DS_Store
CLAUDE.md

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ansible
ansible/.vault_pass
ansible/.ansible_priv_key
*.retry
