# Zarządzane przez Ansible.
[DEFAULT]
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend  = systemd

[sshd]
enabled = true
port    = {{ ssh_port }}
