# Zarządzane przez Ansible.
# Źródła danych wstrzykiwane provisioningiem, nie klikane w UI - dzięki temu
# odtworzenie Grafany od zera nie wymaga żadnej ręcznej konfiguracji.
apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    jsonData:
      timeInterval: 15s

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
